form{
    width: 500px;
    background-color:beige;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,1);
}
html body{
    
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
legend{
    font-size: larger;
}
input{
    border-radius: 4px;
}
body {
  margin: 0;
  height: 100%;
  background: url("https://picsum.photos/1200/800") center/cover;
  animation: zoom 9s infinite alternate;
}

@keyframes zoom {
  from { background-size: 100%; }
  to { background-size: 150%; }
}